UNSPLASH_APP_ID=your_unsplash_app_id_here # used as the user agent header in requests
UNSPLASH_ACCESS_KEY=your_unsplash_access_key_here # this is needed
UNSPLASH_SECRET_KEY=your_unsplash_secret_key_here # not used as of now

JWT_SECRET=your_jwt_secret_here # used to sign JWT tokens for authentication; every time the user accesses the homepage, a new token is generated as a one-time password
# Generate a strong secret using `crypto.randomBytes(64).toString("base64")` in a Node.js environment (you might need to import crypto first)