.permissions {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;

  > div {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.bitfield-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p {
    font-size: 0.9rem;
    text-align: end;
  }

  input {
    text-align: end;
    font-family: monospace;
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    background-color: transparent;
    border: 1px solid oklch(80% 0 271);
    border-radius: 4px;
    color: oklch(80% 0 271);
    box-shadow: 0;
    max-width: 300px;
  }
}
