.permissions {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;

  > div {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.bitfield-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p {
    font-size: 0.9rem;
    text-align: end;
  }

  input {
    text-align: end;
    font-family: monospace;
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    background-color: transparent;
    border: 1px solid oklch(80% 0 271);
    border-radius: 4px;
    color: oklch(80% 0 271);
    box-shadow: 0;
    max-width: 300px;
  }

  .bitfield-value {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;

    button {
      padding: 0.25rem 0.5rem;
      background-color: transparent;
      border: 1px solid oklch(80% 0 271);
      border-radius: 4px;
      color: oklch(80% 0 271);
      box-shadow: 0;
      transition: background-color 0.1s;

      &:hover {
        background-color: oklch(80.123% 0.0013 107.494 / 0.23);
        cursor: pointer;
      }
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;
    gap: 1rem;

    p {
      text-align: left;
    }

  }
}
