@use "sass:map";
@use "sass:color";
@use "../../app.scss" as *;

.fieldset {
  border: 1px solid map.get($colors, border);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;

  legend {
    padding: 0 0.5rem;
    font-weight: 600;
    color: map.get($colors, accent);
  }
}

.input {
  @include button-base;
  cursor: text;
  appearance: none;
  background: map.get($colors, secondary-bg);
  border: 1px solid map.get($colors, border);
  padding: 0.5rem 1rem;
  color: map.get($colors, text-primary);
  font-size: 1rem;
  width: 100%;
  @include transition(all, 200ms);
  border-radius: 8px;

  &::placeholder {
    color: map.get($colors, text-secondary);
    opacity: 1;
  }

  &:hover {
    border-color: map.get($colors, accent);
    background: $accent-background;
  }

  &:focus {
    outline: none;
    border-color: map.get($colors, accent-hover);
    box-shadow: 0 0 0 3px color.change(map.get($colors, accent), $alpha: 0.2);
    background: $accent-background;
  }
}
